body {
  font-size: 20px;
padding: 20px;
height: 200vh;
  max-width: 900px;
  margin: 0 auto;
}
button {
  font-size: inherit;
}

.jarallax {
  min-height: 50vh;
}

.jarallax-wrap {
  position: relative;
  background-color: #e4e4e6;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.jarallax-controls {
  padding: 20px;
}

.jarallax-remove-btn {
}